<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>icepahc-0.4</string>
    <key>CFBundleShortVersionString</key>
    <string>0.4</string>
    <key>CFBundleGetInfoString</key>
    <string>0.4</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>corpald.icns</string>
    <key>CFBundleIdentifier</key>
    <string>is.iclt.jcorpald.Corpald</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>is.iclt.jcorpald.Corpald</string>
      <key>JVMVersion</key>
      <string>1.3+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/lib/CS_2.002.75.jar</string>
        <string>$JAVAROOT/lib/commons-io-2.0.1.jar</string>
        <string>$JAVAROOT/corpald-icepahc-0.4.jar</string>
      </array>
      <key>WorkingDirectory</key>
      <string>$JAVAROOT</string>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>icepahc-0.4</string>
      </dict>
    </dict>
  </dict>
</plist>
